@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --scrollbar-track-color-light: #4b5563;
    --scrollbar-track-color-dark: #e5e7eb;
  }

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: 50%;
    padding: 40px 0px ;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.side {
    height:100vh;
    width: 100%;
    display: grid;
    place-items: center;

    overflow: hidden;
    position:absolute;
}

.side .title {
    font-family:'Rubik','sans-serif';
    font-size: 8vw;
    margin: 0px 15vw;
    width:70vw;
}

#left-side {
    background-color: #4b5563;
    z-index: 2;
}
  
#right-side {
    background-color: #888;
    
}

th, td {
    /* @apply p-2 border; */
    padding: 2px;
    border: 1px solid black;
}
 
th {
    /* @apply bg-gray-200 text-gray-800; */
    background-color: #888;
    /* color:#4b5563; */
}